<section
  class="flex flex-col space-y-6 h-full overflow-hidden">
  <div class="flex flex-col sm:gap-4 py-0 px-6 sm:p-6 bg-slate-900 overflow-y-auto h-full">
    {{#unless filesCount }}
    <div class="w-full text-center text-slate-200 h-full flex items-center justify-center flex-col">
      <h1 class="text-2xl font-semibold font-sans">No files Uploaded</h1>
      <img src="/src/images/dashboard/6931683.jpg" alt="No file found"
        class="max-h-[75vh] mix-blend-multiply select-none">
    </div>
    <button onclick="previewOptionBox()"
      class="absolute bottom-6 right-6 h-12 w-12 rounded-full flex items-center justify-center z-50">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
        class="h-full w-full text-slate-300 hover:text-white transition-all animate-bounce hover:animate-none">
        <path d="M12 8V16M16 12L8 12" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
          stroke-linejoin="round" />
        <path d="M2 12C2 17.5228 6.47715 22 12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2"
          stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
        <path
          d="M2.5 8.5C2.86239 7.67056 3.3189 6.89166 3.85601 6.17677M6.17681 3.85598C6.89168 3.31888 7.67058 2.86239 8.5 2.5"
          stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
      </svg>
    </button>
    {{else}}
    <div class="w-full h-fit flex flex-row gap-1">
      <h1 class="text-slate-400 select-none">/</h1>
      <h1 class="text-slate-400 select-none">home</h1>
      <h1 class="text-slate-400 select-none">/</h1>
      <a href="/dashboard/files" class="flex flex-row gap-1">
        <h1 class="text-slate-400">container</h1>
        <h1 class="text-slate-400">/</h1>
      </a>
      {{#if dirName}}
      <a href="/dashboard/files/{{dirId}}" class="flex flex-row gap-1">
        <h1 class="text-slate-400">{{dirName}}</h1>
        <h1 class="text-slate-400">/</h1>
      </a>
      {{/if}}
    </div>
    <div class="flex flex-row flex-wrap gap-4">
      {{#each directories}}
      <div class="flex flex-col h-fit w-fit">
        <button class="context-button" data-filename="{{directoryId}}" data-originalname="{{directoryName}}">
          <a href="/dashboard/files/{{directoryId}}" class="cursor-pointer flex flex-col items-center">
            <img src="/src/images/dashboard/folder_1264575.png" alt="Folder PNG" class="h-16 w-16 sm:h-24 sm:w-24 select-none">
            <h1 class="text-slate-200 text-center select-none truncate w-14 sm:w-20 text-sm">{{directoryName}}</h1>
          </a>
        </button>
      </div>
      {{/each}}
    </div>
    <div class="flex flex-col sm:flex-row sm:flex-wrap gap-0 sm:gap-4">
      {{#each files}}
      <div
        class="bg-slate-900 p-4 sm:rounded-lg shadow-md transition-shadow duration-300 hover:shadow-xl h-fit flex sm:flex-col flex-row w-full sm:w-auto  sm:justify-normal justify-evenly">
        <a href="javascript:void(0);" onclick="previewFile('{{filename}}')" class="block">
          <img src="/file/preview/{{filename}}" alt="{{originalName}}"
            class="mx-auto min-w-12 h-12 sm:w-48 sm:h-48 object-cover rounded-md shadow-sm transition-opacity duration-200 hover:opacity-90">
        </a>
        <div class="w-auto sm:w-60 flex flex-col sm:ml-0 ml-4 overflow-y-hidden">
          <h2 class="text-slate-300 text-lg font-medium truncate">{{originalName}}</h2>
          <p class="text-slate-500 text-sm truncate">Created: {{date}}</p>
          <p class="text-slate-500 text-sm sm:block hidden">Size: {{size}} MB</p>
          <p class="text-slate-500 text-sm sm:block hidden">Type: {{fileType}}</p>
        </div>
        <a href="/file/download/{{filename}}" class="hidden sm:block sm:mt-2">
          <div
            class="w-full py-1 bg-green-600 rounded-sm text-center text-white text-md font-semibold transition-colors duration-200 hover:bg-green-700">
            Download
          </div>
        </a>
        <button onclick="deleteFile('{{filename}}')" class="sm:mt-2 w-full sm:block hidden">
          <div
            class="w-full py-1 bg-red-600 rounded-sm text-center text-white text-md font-semibold transition-colors duration-200 hover:bg-red-700">
            Delete
          </div>
        </button>
        <div class="sm:hidden flex items-center">
          <button onclick="previewOptions('{{filename}}', '{{orginalName}}')">{{{../optionsSvg}}}</button>
        </div>
      </div>
      {{/each}}
    </div>
    <button onclick="previewOptionBox()"
      class="absolute bottom-6 right-6 h-12 w-12 rounded-full flex items-center justify-center z-50">
      {{{floatingButtonSvg}}}
    </button>
    {{/unless}}
  </div>
</section>

<!-- Preview Section -->
<div id="preview-container"
  class="fixed inset-0 bg-black bg-opacity-80 items-center justify-center z-50 transition-opacity duration-300 hidden">
  <div class="relative bg-slate-900 p-4 rounded-lg shadow-2xl max-w-4xl max-h-[80vh] overflow-hidden animate-fade-in">
    <button onclick="closePreview()"
      class="absolute top-2 right-2 text-white text-2xl hover:text-gray-400 transition duration-200">×</button>
    <img id="preview-image" class="max-w-full max-h-full hidden" />
    <video id="preview-video" class="max-w-full max-h-full hidden" controls></video>
  </div>
</div>

<div id="preview-options-container"
  class="absolute top-[50vh] left-[50vw] translate-x-[-50%] translate-y-[-50%] inset-0 bg-opacity-80 items-center justify-center z-50 transition-opacity duration-300 hidden w-full h-full">
</div>

<div id="preview-option-box"
  class="p-4 bg-black bg-opacity-80 rounded-lg absolute top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%] hidden flex-col space-y-4 w-[80%] max-w-sm shadow-lg">
  <button
    class="flex items-center justify-between px-6 py-3 border border-slate-700 rounded-lg bg-slate-800 hover:bg-slate-700 transition-colors">
    {{{uploadIconSvg}}}
    <h1 class="text-slate-300 text-xl font-medium">Upload</h1>
  </button>

  <button onclick="showCreateFolder()"
    class="flex items-center justify-between px-6 py-3 border border-slate-700 rounded-lg bg-slate-800 hover:bg-slate-700 transition-colors">
    {{{createFolderSvg}}}
    <h1 class="text-slate-300 text-xl font-medium">Create Folder</h1>
  </button>

  <button onclick="previewOptionBox()"
    class="flex items-center justify-between px-6 py-3 border border-slate-700 rounded-lg bg-slate-800 hover:bg-slate-700 transition-colors">
    {{{closeSvg}}}
    <h1 class="text-slate-300 text-xl font-medium">Close</h1>
  </button>
</div>

<div id="create-folder-box"
  class="p-4 bg-black bg-opacity-80 rounded-lg absolute top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%] hidden flex-col space-y-4 w-[80%] max-w-sm shadow-lg">
  <h1 class="text-slate-300 text-xl font-medium">Create Folder</h1>
  <input type="text" placeholder="Folder Name" class="bg-slate-800 text-slate-300 p-2 rounded-lg"
    id="create-folder-input-name" />
  <button onclick="createFolder()"
    class="flex items-center justify-between px-6 py-3 border border-slate-700 rounded-lg bg-slate-800 hover:bg-slate-700 transition-colors">
    {{{createFolderSvg}}}
    <h1 class="text-slate-300 text-xl font-medium">Create</h1>
  </button>
  <button onclick="showCreateFolder()"
    class="flex items-center justify-between px-6 py-3 border border-slate-700 rounded-lg bg-slate-800 hover:bg-slate-700 transition-colors">
    {{{closeSvg}}}
    <h1 class="text-slate-300 text-xl font-medium">Close</h1>
  </button>
</div>

<script src="/src/js/dashboard/files/script.js"></script>